---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch.json?categorySet=7367&key=<TOMTOM_API_KEY>&lat=39.7392358&limit=100&lon=-104.990251&radius=20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"summary":{"queryType":"NEARBY","queryTime":154,"numResults":100,"offset":0,"totalResults":859,"fuzzyLevel":1,"geoBias":{"lat":39.7392358,"lon":-104.990251}},"results":[{"type":"POI","id":"US/POI/p0/3683240","score":-0.06148,"dist":61.47970584023871,"info":"search:ta:840089000053233-US","poi":{"name":"Denver
        City & County Government Probate Court","phone":"+(1)-(720)-8658389","categorySet":[{"id":7367}],"categories":["government
        office"],"classifications":[{"code":"GOVERNMENT_OFFICE","names":[{"nameLocale":"en-US","name":"government
        office"}]}]},"address":{"streetNumber":"1437","streetName":"Bannock St","municipalitySubdivision":"Denver,
        Civic Center","municipality":"Denver","countrySecondarySubdivision":"Denver","countryTertiarySubdivision":"Denver","countrySubdivision":"CO","postalCode":"80202","extendedPostalCode":"8020253","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1437 Bannock St, Denver,
        CO 80202","localName":"Denver","countrySubdivisionName":"Colorado"},"position":{"lat":39.73924,"lon":-104.99097},"viewport":{"topLeftPoint":{"lat":39.74014,"lon":-104.99214},"btmRightPoint":{"lat":39.73834,"lon":-104.9898}},"entryPoints":[{"type":"main","position":{"lat":39.73923,"lon":-104.99026}}]},{"type":"POI","id":"US/POI/p0/3683620","score":-0.06148,"dist":61.47970584023871,"info":"search:ta:840089000825271-US","poi":{"name":"Denver
        City & County Court Clerk","phone":"+(1)-(720)-8658310","categorySet":[{"id":7367}],"categories":["government
        office"],"classifications":[{"code":"GOVERNMENT_OFFICE","names":[{"nameLocale":"en-US","name":"government
        office"}]}]},"address":{"streetNumber":"1437","streetName":"Bannock St","municipalitySubdivision":"Denver,
        Civic Center","municipality":"Denver","countrySecondarySubdivision":"Denver","countryTertiarySubdivision":"Denver","countrySubdivision":"CO","postalCode":"80202","extendedPostalCode":"8020253","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1437 Bannock St, Denver,
        CO 80202","localName":"Denver","countrySubdivisionName":"Colorado"},"position":{"lat":39.73924,"lon":-104.99097},"viewport":{"topLeftPoint":{"lat":39.74014,"lon":-104.99214},"btmRightPoint":{"lat":39.73834,"lon":-104.9898}},"entryPoints":[{"type":"main","position":{"lat":39.73923,"lon":-104.99026}}]},{"type":"POI","id":"US/POI/p0/3684327","score":-0.06148,"dist":61.47970584023871,"info":"search:ta:840089001086254-US","poi":{"name":"Denver
        City Council District 7","phone":"+(1)-(720)-8659534","categorySet":[{"id":7367}],"url":"www.denvergov.org","categories":["government
        office"],"classifications":[{"code":"GOVERNMENT_OFFICE","names":[{"nameLocale":"en-US","name":"government
        office"}]}]},"address":{"streetNumber":"1437","streetName":"Bannock St","municipalitySubdivision":"Denver,
        Civic Center","municipality":"Denver","countrySecondarySubdivision":"Denver","countryTertiarySubdivision":"Denver","countrySubdivision":"CO","postalCode":"80202","extendedPostalCode":"8020253","countryCode":"US","coun[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20City%20%26%20County%20Government%20Probate%20Court%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJP3JjmdR4bIcRQyfKKJGRt7s"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:30 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20City%20%26%20County%20Court%20Clerk%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJb9SOIYGHa4cRnYWZfji6VLI"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:30 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20City%20Council%20District%207%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJw9VXmSN5bIcRB5zzcig8k4M"
              },
              {
                 "place_id" : "ChIJMT6TsdR4bIcR3WqJ91M7Kec"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:30 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20County%20Traffic%20Division%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJyxpOmDR7bIcRHCI0XHhKb4c"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:30 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20City%20%26%20County%20Government%20County%20Court%20City%20%26%20County%20Building%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJMT6TsdR4bIcR3WqJ91M7Kec"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:30 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%208%20TV%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJdz1i7X97bIcR0nwte-4Xv94"
              },
              {
                 "place_id" : "ChIJvSwKotR4bIcRZbh-oehYci0"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:30 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Interpreter%27s%20Office%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJP3JjmdR4bIcR58iXT5Dk4xk"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:30 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Mayor%27s%20Office%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJP3JjmdR4bIcRWuROXeYRBeQ"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:30 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Courtroom%20W%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJP3JjmdR4bIcRrqjvLU74I4g"
              },
              {
                 "place_id" : "ChIJeS59_NJ4bIcRIb_NWve9rbA"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:31 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Cultural%20Affairs%20Office%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ02zXa9R4bIcRMTV9rnBNqw8"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:31 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Payment%20To%20Elderly%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJk7tN2dR4bIcRwgB-5X6Z-yk"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:31 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Revenue%20Department%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJk7tN2dR4bIcR61mfhGDniuc"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:31 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Environmental%20Quality%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJMT6TsdR4bIcRMrye-D0fk3Y"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:31 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20City%20%26%20County%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:31 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Public%20Works%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJZ7GFZ9R4bIcRsawVUkwn61g"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:31 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Building%20Department%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJMT6TsdR4bIcRCAouxTIUXCs"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:31 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Public%20Trustee%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ02zXa9R4bIcRVdpQWoU7YQc"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:31 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Career%20Service%20Authority%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJhVKSEtV4bIcR8BFVBXYyWig"
              },
              {
                 "place_id" : "ChIJYcgVh8h4bIcRahY70uZHEvA"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:31 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Central%20Service%20Department%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ02zXa9R4bIcR1QHEFxSsx8s"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:31 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Board%20of%20Ethics%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ02zXa9R4bIcR5oxZLUiAhHc"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:32 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Finance%20Office%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ02zXa9R4bIcRE8KuVG4XKRU"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:32 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Policy%20%26%20Planning%20Department%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ02zXa9R4bIcRiDJ7Xqpb-Ts"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:32 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=General%20Services%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ02zXa9R4bIcR_HX-saUYsv8"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:32 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Office%20of%20Information%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJDyIlti55bIcRUf9LK1OtTJU"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:32 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Department-Safety%20Recruitment%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJOw8Rkip5bIcRP15E_1Mn0Vs"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:32 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Environmental%20Health%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ02zXa9R4bIcR5-VieUuDZL8"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:32 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Board%20of%20Adjustment%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ02zXa9R4bIcR2JRtAZNDF7w"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:32 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20City%20Forester%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ02zXa9R4bIcRb6HTGsQHayA"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:32 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Urban%20Horticulture%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJr3PT2DZ-bIcRwntlnAnpMSc"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:32 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Zoning%20Administration%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ02zXa9R4bIcRKndkeV6zHpw"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:32 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Treasury%20Division%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJk7tN2dR4bIcRr7yHS6xXKWc"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=United%20States%20Mint%20Denver%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ9xanb9N4bIcRYH-BkP_cl2o"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Safe%20City%20Office%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJnw7BgtN4bIcRKvkhs04hO4g"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:33 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Electronic%20Monitoring%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJnw7BgtN4bIcRjmKJUsBiJJ8"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Denver%20Department%20of%20Safety%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJoRSYTq94bIcRvwkyvCVJrUw"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:33 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Colorado%20State%20Government%20Supreme%20Court%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJu4dEsCp_bIcR2oOxcBdFYbU"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Honorable%20Michael%20L%20Bender%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJt9Lbq9V4bIcRqUUHZ84Lp5s"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Honorable%20John%20R%20Webb%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJt9Lbq9V4bIcRGb0oE0FT5AQ"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 03 Aug 2019 19:15:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Honorable%20Laurie%20Booras%20in%20Denver&inputtype=textquery&key=<GOOGLE_PLACES_API_KEY>
    body:
[...]
