---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_PLACES_API_KEY>&maxheight=800&maxwidth=800&photoreference=CmRaAAAA0DaL7ahs9-s43r1B5UgJDfY-PWSTiU4IaIGZXneIhnL9VoLasfdjb8uILVT2fpv3itbylY_ag0rfjDCNkgQfX7BbukpZYFyZkcyxt5QzpS4T-0jsU6i-yukAWcoplJ79EhAuUtUH8AmRk8vestSiHYHBGhR1RIVab8DqQ39GMus178M4aHepwQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipNDn_XhxFW-5EetN-Ko-0VPySLoOrcjTp6_5XUp=s1600-w800-h800
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipNDn_XhxFW-5EetN-Ko-0VPySLoOrcjTp6_5XUp=s1600-w800-h800\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Wed, 24 Jul 2019 01:16:27 GMT
- request:
    method: get
    uri: https://votes-app-1903.herokuapp.com/api/v1/landmark/id/score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"type":"landmark","votable_id":"id","attributes":{"upvotes":0,"downvotes":0,"total_score":0}}}'
  recorded_at: Wed, 24 Jul 2019 21:23:58 GMT
[...]
- request:
    method: get
    uri: https://votes-app-1903.herokuapp.com/api/v1/landmark/8/score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"type":"landmark","votable_id":"8","attributes":{"upvotes":0,"downvotes":0,"total_score":0}}}'
  recorded_at: Thu, 25 Jul 2019 18:20:04 GMT
[...]
- request:
    method: get
    uri: https://votes-app-1903.herokuapp.com/api/v1/landmark/10/score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"type":"landmark","votable_id":"10","attributes":{"upvotes":0,"downvotes":0,"total_score":0}}}'
  recorded_at: Wed, 31 Jul 2019 19:43:49 GMT
recorded_with: VCR 5.0.0
