---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch.json?categorySet=7317&key=<TOMTOM_API_KEY>&lat=39.7392358&limit=100&lon=-104.990251&radius=20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"summary":{"queryType":"NEARBY","queryTime":24,"numResults":95,"offset":0,"totalResults":398,"fuzzyLevel":1,"geoBias":{"lat":39.7392358,"lon":-104.990251}},"results":[{"type":"POI","id":"US/POI/p0/433330","score":-0.23063,"dist":230.6292728439259,"info":"search:ta:840081000402721-US","poi":{"name":"Byers-Evans
        House Museum","phone":"+(1)-(303)-6204933","categorySet":[{"id":7317}],"url":"www.historycolorado.org/museums/byers-evans-house-museum","categories":["museum"],"classifications":[{"code":"MUSEUM","names":[{"nameLocale":"en-US","name":"museum"}]}]},"address":{"streetNumber":"1310","streetName":"Bannock
        St","municipalitySubdivision":"Denver, Civic Center","municipality":"Denver","countrySecondarySubdivision":"Denver","countryTertiarySubdivision":"Denver","countrySubdivision":"CO","postalCode":"80204","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1310 Bannock St, Denver,
        CO 80204","localName":"Denver","countrySubdivisionName":"Colorado"},"position":{"lat":39.73717,"lon":-104.99001},"viewport":{"topLeftPoint":{"lat":39.73807,"lon":-104.99118},"btmRightPoint":{"lat":39.73627,"lon":-104.98884}},"entryPoints":[{"type":"main","position":{"lat":39.73686,"lon":-104.9896}}]},{"type":"POI","id":"US/POI/p1/2967626","score":-0.23682,"dist":236.81979261818745,"info":"search:ta:840089000258689-US","poi":{"name":"The
        Muse Fine Art Gallery","phone":"+(1)-(720)-2874551","categorySet":[{"id":7317}],"categories":["museum"],"classifications":[{"code":"MUSEUM","names":[{"nameLocale":"en-US","name":"museum"}]}]},"address":{"streetNumber":"1309","streetName":"Bannock
        St","municipalitySubdivision":"Denv[...]
