---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_PLACES_API_KEY>&maxheight=800&maxwidth=800&photoreference=CmRaAAAA58Iy6Em8ucPC_-OCxKTJ-p7YKDBUQ4mgVZj4qlFN6j2JhXKSfteprF-Ckca73TjXaYUtNk-trEbhBCWoUcWWsO42KRap_rlw4teWz4hqBU57sAoTl3-myl_4xjOw3LmBEhBTUAINq_SeOPXlwudc8ccKGhSH-pCQxOO6rRE-O1zFKPW1-h3OqA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipP5cnZz_ezB1Q0szY_zgHVVSiM3lCBSbFOas_f6=s1600-w800-h800
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipP5cnZz_ezB1Q0szY_zgHVVSiM3lCBSbFOas_f6=s1600-w800-h800\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Wed, 24 Jul 2019 21:13:29 GMT
- request:
    method: get
    uri: https://votes-app-1903.herokuapp.com/api/v1/landmark/id/score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"type":"landmark","votable_id":"id","attributes":{"upvotes":0,"downvotes":0,"total_score":0}}}'
  recorded_at: Wed, 24 Jul 2019 21:13:29 GMT
[...]
- request:
    method: post
    uri: https://votes-app-1903.herokuapp.com/api/v1/recording/109/create_vote/eb59098f9319fad42b86e70557dd41c5/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"50","type":"vote","attributes":{"id":50,"votable_type":"recording","votable_id":109,"rating":1,"user_token":"eb59098f9319fad42b86e70557dd41c5","total_score":1}}}'
  recorded_at: Wed, 24 Jul 2019 21:39:27 GMT
[...]
- request:
    method: get
    uri: https://votes-app-1903.herokuapp.com/api/v1/recording/id/score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"type":"recording","votable_id":"id","attributes":{"upvotes":0,"downvotes":0,"total_score":0}}}'
  recorded_at: Wed, 24 Jul 2019 22:47:27 GMT
[...]
- request:
    method: get
    uri: https://votes-app-1903.herokuapp.com/api/v1/recording/158/score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"type":"recording","votable_id":"158","attributes":{"upvotes":0,"downvotes":0,"total_score":0}}}'
  recorded_at: Thu, 25 Jul 2019 01:14:09 GMT
[...]
- request:
    method: get
    uri: https://votes-app-1903.herokuapp.com/api/v1/recording/42/score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"type":"recording","votable_id":"42","attributes":{"upvotes":1,"downvotes":0,"total_score":1}}}'
  recorded_at: Thu, 25 Jul 2019 02:29:11 GMT
recorded_with: VCR 5.0.0
