---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_PLACES_API_KEY>&maxheight=800&maxwidth=800&photoreference=CmRaAAAA58Iy6Em8ucPC_-OCxKTJ-p7YKDBUQ4mgVZj4qlFN6j2JhXKSfteprF-Ckca73TjXaYUtNk-trEbhBCWoUcWWsO42KRap_rlw4teWz4hqBU57sAoTl3-myl_4xjOw3LmBEhBTUAINq_SeOPXlwudc8ccKGhSH-pCQxOO6rRE-O1zFKPW1-h3OqA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipP5cnZz_ezB1Q0szY_zgHVVSiM3lCBSbFOas_f6=s1600-w800-h800
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipP5cnZz_ezB1Q0szY_zgHVVSiM3lCBSbFOas_f6=s1600-w800-h800\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Thu, 25 Jul 2019 18:06:54 GMT
- request:
    method: get
    uri: https://votes-app-1903.herokuapp.com/api/v1/landmark/id/score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"type":"landmark","votable_id":"id","attributes":{"upvotes":0,"downvotes":0,"total_score":0}}}'
  recorded_at: Thu, 25 Jul 2019 18:06:54 GMT
[...]
- request:
    method: get
    uri: https://votes-app-1903.herokuapp.com/api/v1/recording/2/score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"type":"recording","votable_id":"2","attributes":{"upvotes":6,"downvotes":0,"total_score":6}}}'
  recorded_at: Thu, 25 Jul 2019 18:06:54 GMT
- request:
    method: post
    uri: https://votes-app-1903.herokuapp.com/api/v1/landmark/2/create_vote/f1f8d1f4e524de65b4bfbaca113a0706/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"176","type":"vote","attributes":{"id":176,"votable_type":"landmark","votable_id":2,"rating":1,"user_token":"f1f8d1f4e524de65b4bfbaca113a0706","total_score":1}}}'
  recorded_at: Thu, 25 Jul 2019 18:06:55 GMT
[...]
- request:
    method: get
    uri: https://votes-app-1903.herokuapp.com/api/v1/landmark/1/score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"type":"landmark","votable_id":"1","attributes":{"upvotes":8,"downvotes":4,"total_score":4}}}'
  recorded_at: Thu, 25 Jul 2019 18:17:32 GMT
- request:
    method: get
    uri: https://votes-app-1903.herokuapp.com/api/v1/landmark/1/score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"type":"landmark","votable_id":"1","attributes":{"upvotes":8,"downvotes":4,"total_score":4}}}'
  recorded_at: Thu, 25 Jul 2019 18:17:32 GMT
recorded_with: VCR 5.0.0
