---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<GOOGLE_PLACES_API_KEY>&query=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
                 "id" : "464b513e4fd9a3c7c3bd63d091ecc856aff12e2c",
                 "name" : "Denver",
                 "photos" : [
                    {
                       "height" : 3840,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/115710554322192824939/photos\"\u003eJohn Moore\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAA_UcNZGsm8XKOXSYnqafbhBN-J2OYPdt419PsX5kQbEOcY2j7Hjvo4Pz0eiZPoMiLSc1fSdeCph6envpIm03GI7vu31Sj3OzJ4MHjIu91FclMe__W6gkqzcUlb1V5BE5KEhCmA8IS7FytSlSbU6UJTX1SGhRiDkHAyAAvIeyoRlWYpuLi4RwtOw",
                       "width" : 2160
                    }
                 ],
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "reference" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 17 Jul 2019 06:19:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_PLACES_API_KEY>&location=39.7392358,%20-104.990251&radius=10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCFQEAALoCcCg0R_l9L8Gq30-UbE0v3LubGwjtn6XSNGnaw9VnEfIrnKAVLS7ctzV6A6-u-1UWn0CT3jsF1MqZqbLOQOQE0uX4-vW6HlezjPCdwWAHZe3TjufIv5YUgFrTBvmXDmTAeBCvnvzCjw08Zje8EvLIDXhoaTaz3sCSqf4oEsok_2Bka48Qy3TARh_Xgolxo1FXCGzMZMCc1MHvSsdbW23GlscxI5OW0s09ArKbC9xxuqG4AzEpCSYN0FdcvqztZFzt_YOqZIr6ZRAgb8rIdFvSjp-ammxeBx4K5gD8G_--NG2LjL6Ge8kEFLIHeZjcVcjIJ-_pbTNybTxr9QtzaaUTcOIy7Ujrnj1R7wKRcg0WEqeWL34Vr0UD1wyhi6oZxBIQLmouBoisWuqoWRboO-eaNxoUvmFxKjzOgAJbggZaKWLqe9t0gTQ",
           "results" : [
              {
       [...]
