<h1 class='landmark-name'><%= @landmark.name %></h1>
<h3 class='category'><%= @landmark.category.capitalize %></h3>
<ul class='attributes'>
  <li>Phone: <%= @landmark.phone_number %></li>
  <li>Website: <%= @landmark.address %></li>
</ul>

<script>


</script>
