<h3>Recordings by <%= @user.display_name %></h3>
<% if @user.recordings.any? %>
  <% @user.recordings.each do |recording| %>
    <div class='recording-list'>
      <p>
        Title: <%= recording.title %><br>
        Landmark: <%= link_to recording.landmark.name, landmark_path(recording.landmark) %><br>
      </p>
      <%= render partial: 'shared/audio_player', object: recording %>
    </div>
  <% end %>
<% else %>
  <p>No recordings uploaded yet</p>
<% end %>
