<figure>
  <audio controls preload="auto" style="width:100%">
      <source src="<%= audio_player.url %>" type="audio/mpeg">
          <p>Your browser does not support the audio element.</p>
  </audio>
</figure>
<style>
  audio::-internal-media-controls-download-button {
    display:none;
  }
  audio::-webkit-media-controls-enclosure {
    overflow:hidden;
  }
  audio::-webkit-media-controls-panel {
    width: calc(100% + 33px);
  }
</style>
