<figure class="recording-list">

  <div class="votebox">
    <div class="up vote"></div>
    <%= button_to "", url: "https://secret-gorge-75866.herokuapp.com/api/v1/Recording/#{audio_player.id}/create_vote/#{current_user.vote_token}/1", class: "upvote" %>
    <div class="down vote"></div>
    <%= button_to "", url: "https://secret-gorge-75866.herokuapp.com/api/v1/Recording/#{audio_player.id}/create_vote/#{current_user.vote_token}/-1", class: "downvote" %>
  </div>

  <figcaption>Title: <%= audio_player.title %></figcaption>
  <audio
      controls
      src="<%= audio_player.url %>">
          Your browser does not support the
          <code>audio</code> element.
  </audio>
</figure>
