<div class='center-contents'>
  <h1>Welcome to Oddio</h1>
  <%= link_to  "I want to explore", landmarks_path, class: 'btn btn-primary' %>
  <br>
  <br>
  <%= link_to  'Take me on a Recommended Tour', tours_path, class: 'btn btn-primary' %>
  <br>
  <br>
  <br>
  <h5>
    Oddio delivers crowd-sourced, self-guided audio tours of Denver, CO. As you explore the city, use Oddio to discover new landmarks or add your own local commentary for others to enjoy!
  </h5>

</div>
