<h3>All Tours</h3>
<% if @tours.any? %>
  <% @tours.each do |tour| %>
    <div class='tour-list'>
      <p>
        <%= link_to tour.title, tour_path(tour) %><br>
        Creator: <%= link_to tour.user.display_name, user_path(tour.user) %><br>
      </p>
    </div>
  <% end %>
<% else %>
  <p>No tours added yet</p>
<% end %>
