<h3>All Tours</h3>
<% if @tours.any? %>
  <% @tours.each do |tour| %>
    <div class='tour-list'>
      <%= render partial: 'shared/voting_arrows', object: tour %>
      <div class='tour-box'>
        <%= link_to tour.title, tour_path(tour), class: 'tour-info'%><br>
        Creator: <%= link_to tour.user.display_name, user_path(tour.user), class: 'tour-info' %><br>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No tours added yet</p>
<% end %>
