/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

html {
   height: 100%;
}


main {
  margin: 10px;
  word-break: break-word;
}

nav .btn {
  margin: 5px;
}

.white-translucent-background {
  background-color: rgba(255,255,255,0.5);
}

.white-text {
  color: white;
}

.center-contents {
  text-align:center;
}

.form-group {
  margin: 5px;
}

.search-field {
  width: 200px;
}

h1 {
  text-align: center;
}

.vote-button {
  cursor: pointer;
}

.vote {
  display: inline-block;
  padding: 5px;
  text-align:center;
}

.landmark-header, .tour-header {
  align-items: center;
}

.inline-block {
  display: inline-block;
}

.upvote, .downvote {
  color: lightslategrey;
}

.active-upvote {
  color: red;
}

.active-downvote {
  color: blue;
}

.recording-box {
  width: 90%;
  margin-left: 5px;
}

.recording-list, .tour-list {
  display: flex;
  align-items: center;
  background-color: lightsteelblue;
  border-radius: 5px;
  border: 1px solid black;
  margin: 5px;
}

.tour-list {
  padding: 5px;
}

figure {
  margin: 0;
}
